.click-item {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  margin: 8px 25px;
  cursor: pointer;
}

.click-item:hover {
  border: 2px solid limegreen;
}

@media (max-width: 750px) {
  .click-item {
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .click-item {
    margin: 10px;
  }
}
